Definitions, Acronyms, and Abbreviation:


Functional Requirements:
  1) Login:
    1.1 - the user will be enter their username and password to enter the system
  2) logout:
    2.1 - the user will be exited from the system
  3) Validate:
    3.1 - when a user tries to log in, varify that the user is in the system
    3.2 - if the user tries to edit the class attendence time, verify that the user has the right privlages
    3.3 - if the user tries to take attendence varify weather or not they are tardy
  4) Take attendance:
    4.1 - the user will press a button which will then turn into a check mark, varifying that they were accounted for
    4.2 - the system will varify weather or not the student is tardy
  5) View list of attendance:
    5.1 - the student will be able to see the list of students in the class/ on the attendance list
    5.2 - the teacher will be able to see how many students have already been accounted for and who exactly is not at the class yet


Use Case Diagram:


